#gamebox {
    border-style: solid;
    border-width: 2px;
    width: 1200px;
    height: 487px;
    overflow-y: hidden;
}

#titlescreen {
    width: 500px;
    margin: auto;
    display: block;
}

header {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#mob {
    height: 170px;
    z-index: 2;
    position: absolute;
    top: 290px;
    animation: mob 1.3s infinite linear;
}

#sprite {
    height: 300px;
    z-index: 2;
    position: absolute;
    top: 280px
}

#background {
    z-index: 0;
    position: absolute;
    overflow-y: hidden;
}

.hop {
    animation-name: hop;
    animation-timing-function: ease;
}

@keyframes hop{
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-225px); }
    50%  { transform: translateY(0px); }
    100% { transform: translateY(0); }
}

.jump{
    animation: hop 800ms ease;
}

@keyframes mob{
    0%{left: 500px} 
    100%{left: -20px}
}

nav {
    text-align: center;
}

h1 {
    font-size: 30px;
    padding: 5px;
}